.card {
    display: flex;
    justify-content: space-between;
    height: 250px;
    margin-bottom: 70px;
    border-bottom: 1px solid lightgray;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-header img {
    height: 18px;
    margin-right: 10px;
}

.card-content-title {
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    color: black;
}

.card-btn {
    padding: 8px 8px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin: 10px 3px 10px 0px;
    font-size: 12px;
}

.card-left {
    width: 70%;
    height: 134px;
}

.card-footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-footer span {
    font-size: 14px;
    color: gray;
}